.box,.box1{
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-play-state: running;
    
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.box{
    -webkit-animation-name: mybox;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
.box1{
    animation-name: mybox1;
    top: 50;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes mybox{
    0% {background: red; left: 0px;top: 0px}
    25%{background: green; left: 400px;top: 0px}
    50%{background: yellow; left: 400px;top: 400px}
    75%{background: pink; left: 0px;top:400px}
    100% {background: red; left: 0px;top: 0px}
}
@-webkit-keyframes mybox{
    0% {background: red; left: 0px;top: 0px}
    25%{background: green; left: 400px;top: 0px}
    50%{background: yellow; left: 400px;top: 400px}
    75%{background: pink; left: 0px;top: 400px}
    100% {background: red; left: 0px;top: 0px}
}
@keyframes mybox1{
    0% {background: red; left: 0px;top: 50px}
    25%{background: green; left: 400px;top: 50px}
    50%{background: yellow; left: 400px;top: 450px}
    75%{background: pink; left: 0px;top:450px}
    100% {background: red; left: 0px;top: 50px}
}
@-webkit-keyframes mybox1{
    0% {background: red; left: 0px;top: 50px}
    25%{background: green; left: 400px;top: 50px}
    50%{background: yellow; left: 400px;top: 450px}
    75%{background: pink; left: 0px;top:450px}
    100% {background: red; left: 0px;top: 50px}
}